{{ ansible_managed | comment }}
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

{% if haproxy_stats == true %}
listen stats :1936
    mode                 http
    stats                enable
    stats                uri /
{% endif %}

{% for frontend in haproxy_frontends %}
frontend {{ frontend.name }}
  bind {{ frontend.bind }}
  default_backend {{ frontend.default_backend }}
{% endfor %}

{% for backend in haproxy_backends %}
backend {{ backend.name }}
  balance {{ backend.balance }}
  {% for server in backend.servers %}
  server {{ server.name }} {{ server.hostname }}:{{ server.port}}{% if server.option is defined %} {{ server.option }}{% endif %}
  {% endfor %}
{% endfor %}
